
::-webkit-scrollbar{
  width:10px;
  height:10px;
  background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar:hover{
  background-color: rgba(0,0,0,0.3);
}
::-webkit-resizer{
  -webkit-border-radius:4px;
  background-color: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb{
  min-height:8pm;
  min-width:8pm;
  background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0,0.6);
}
::-webkit-scrollbar-thumb:active{
  background-color: rgba(0,0,0,0.7);
}

body {
  background: url("../assets/body-background.jpg") no-repeat center center fixed;
}

h1 {
  font-size: 28px;
}

h2 {font-size: 22px}
h3 {font-size: 20px}
h4 {font-size: 18px}
h5 {font-size: 16px}
h6 {font-size: 14px}

h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 5px;
}


a {
  outline: 0;
}

a img {
  border: 0px;
  text-decoration: none;
}

a:link, a:visited {
  color: #CF5C3F;
  padding: 0 1px;
  text-decoration: none;
}

a:hover, a:active {
  background-color: rgba(207,92,63,0.5);
  color: #fff;
  text-decoration: none;
}

