.loading-spinner {
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-spinner-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  animation: loading-spinner-animation 1.5s infinite ease-in-out;
}

.loading-spinner-dot:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  animation-delay: -0.7s;
}

.loading-spinner-dot:nth-child(2) {
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -0.6s;
}

.loading-spinner-dot:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  animation-delay: -0.5s;
}

.loading-spinner-dot:nth-child(4) {
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  animation-delay: -0.4s;
}

.loading-spinner-dot:nth-child(5) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -0.3s;
}

.loading-spinner-dot:nth-child(6) {
  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
  animation-delay: -0.2s;
}

.loading-spinner-dot:nth-child(7) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  animation-delay: -0.1s;
}

.loading-spinner-dot:nth-child(8) {
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  animation-delay: 0s;
}

@keyframes loading-spinner-animation {
  0%, 100% {
      transform: scale(1);
      background-color: #000;
  }
  50% {
      transform: scale(1.5);
      background-color: #888;
  }
}